{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>PeakStore</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap" rel="stylesheet">
    {% tailwind_css %}
</head>

<body class="bg-gray-50 text-black leading-normal tracking-normal font-[Geist]">
    <header class="flex items-center justify-between px-5">
      <h1 class="text-4xl font-bold">PeakStore</h1>
      <nav class="container mx-auto px-6 py-4">
        <ul class="flex items-center justify-center space-x-1">
          <li><a href="">Home</a></li>
          <li><a href="">Featured</a></li>
          <li><a href="">Categories</a></li>
          <li><a href="">Shop All</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
      <div class="flex items-center space-x-5">
        <button class="text-gray-600 hover:text-blue-600">
          <span>Search</span>
        </button>
        <a href="/login" class="">
          Login
        </a>
        <a href="/cart" class="">Cart</a>
      </div>
    </header>
  <div class="container mx-auto">
    <section class="flex items-center justify-center h-screen">
          <h1 class="text-5xl">Django + Tailwind = ❤️</h1>

    {% load static %} {% if featured_products %}
      <div>
        {% for product in featured_products %}
        <div>
          <h2>{{product.name}} s</h2>
        </div>
        {% endfor %}
      </div>
              {% endif %}
        </section>
  </div>
</body>
</html>

