{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PeakStore</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap"
              rel="stylesheet">
        {% tailwind_css %}
    </head>
    <body class="bg-gray-50 text-black leading-normal tracking-normal font-[Geist]">
        <header class="flex w-full flex-col items-center justify-between">
            <div class="flex w-full bg-black text-white px-5">
                <div class = "relative h-10 overflow-hidden flex-1">
                    <ul class="relative h-full">
                        <li class="absolute flex items-center justify-center w-full opacity-0 animate-slide-in [animation-delay:0s] leading-none">
                            Pay within 30 days with <strong>Kalrna</strong>
                        </li>
                        <li class="absolute flex items-center justify-center w-full opacity-0 animate-slide-in [animation-delay:5s] leading-none">
                            Not satisfied? <strong>Money Back</strong>
                        </li>
                        <li class="absolute flex items-center justify-center w-full opacity-0 animate-slide-in [animation-delay:10s] leading-none">
                            <strong>30 day</strong> trial
                        </li>
                    </ul>
                </div>
                <div class="flex items-center">
                    <p>Sustainability commitments 🌱</p>
                </div>
            </div>
            <div>
                <h1 class="text-4xl font-bold">PeakStore</h1>
                <nav class="container mx-auto px-6 py-4">
                    <ul class="flex items-center justify-center space-x-1">
                        <li>
                            <a href="">Home</a>
                        </li>
                        <li>
                            <a href="">Featured</a>
                        </li>
                        <li>
                            <a href="">Categories</a>
                        </li>
                        <li>
                            <a href="">Shop All</a>
                        </li>
                        <li>
                            <a href="">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="flex items-center space-x-5">
                    <button class="text-gray-600 hover:text-blue-600">
                        <span>Search</span>
                    </button>
                    <a href="/login" class="">Login</a>
                    <a href="/cart" class="">Cart</a>
                </div>
            </div>
        </header>
        <div class="container mx-auto">
            <section class="flex items-center justify-center h-screen">
                <h1 class="text-5xl">Django + Tailwind = ❤️</h1>
                {% load static %}
                {% if featured_products %}
                    <div>
                        {% for product in featured_products %}
                            <div>
                                <h2>{{ product.name }} s</h2>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </section>
        </div>
    </body>
</html>
