@import "tailwindcss";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";

@theme {
  --animate-slide-in: slide-in 15s linear infinite;

  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    5% {
      opacity: 1;
      transform: translateX(0);
    }
    30% {
      opacity: 1;
      transform: translateX(0);
    }
    35% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
